<!-- RE-ARANGE WITH CARE ! -->
<div class='seating' appMovement>
  <div id='dragon' appInitiateMovement class='seat'>
    <p class='row' *ngFor='let row of circleRows'>
      <svg class='small-keeper' [attr.height]='svgHeight' [attr.width]='svgWidth' *ngFor='let column of circleColumns'>
        <circle class={{seatClassName}} id={{sector}}-{{row}}-{{column}}-{{now}} [attr.cx]='svgSeatX' [attr.cy]='svgSeatY' [attr.r]='svgSeatRadius' [attr.fill]='svgFill'/>
      </svg>
    </p>
  </div>
</div>

<!-- Seat configuration drop area -->
<div id='svg-container' appAutoAlign appMovement appMultiSelect appRotate>
  <svg id='dropzone' height='100%' width='100%'>
  </svg>
</div>
