<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Seating</h4>
    <button type="button" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="submitForm(myForm)">
      <div class="modal-boy">
        <div class="container">
          <!-- Form -->
          <div class="form-group">
            <label>Sector</label>
            <input type="string" 
              class="form-control"
              formControlName="sector" />
            <label>Rows</label>
            <input type="number" 
              class="form-control"
              formControlName="rows" />
            <label>Columns</label>
            <input type="number" 
              class="form-control"
              formControlName="columns" />
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"
          (click)="submitForm(myForm)"
          [disabled]="!myForm.valid">
          OK
        </button>
      </div>
    </form>
  </div>
 
</ng-template>

<!-- Buttons: add seats, select many, drag many, remove selected -->
<div class='wrapper'>
  <button
    class="btn btn-lg btn-outline-primary"
    (click)="open(content)">
    Add seating</button>
  <button
    class="btn btn-lg btn-outline-primary"
    (click)="clearSelection()">
    Clear selection</button>
  <button
    id="multi-drag-toggle-button"
    class="btn btn-lg btn-outline-primary"
    (click)="toggleMultiDrag()">
    Multi drag</button>
  <button
    class="btn btn-lg btn-outline-danger"
    (click)="deleteSelected()">
    Remove selection</button>

  <!-- Auto align -->
  <p> Beta: For a selection of a single column or row. Save before using !</p>
  <div>
    <button
      id="multi-drag-toggle-button"
      class="btn btn-lg btn-outline-primary"
      (click)="autoAlign()">
      Auto align</button>
  </div>

  <!-- Rotate -->
  <p> Rotate selection of seats. Don't forget angle. </p>
  <div class="rotate">
    <span (click)="rotate(true)" class="arrow">&#8635;</span>
    <span (click)="rotate(false)" class="arrow">&#8634;</span>
  </div>
  <div class="input-group mb-3">
    <p>
      <input class="form-control" placeholder="Degrees" aria-label="Degrees" type="number" id="input-degrees"/>
    </p>
  </div>

  <!-- Save, back, etc. -->
  <div class="save">
    <button
      id="save-configuration-button"
      class="btn btn-lg btn-outline-primary"
      (click)="save()">
      Save</button>
    <button
      id="save-and-back-configuration-button"
      class="btn btn-lg btn-outline-primary"
      (click)="saveAndBack()">
      Save and back</button>
    <button
      id="back-button"
      class="btn btn-lg btn-outline-primary"
      (click)="back()">
      Back</button>
  </div>
</div>