<div class='wrapper'>
    <p>Start dragging from the center of the top left seat</p>
    <p (click)='increaseColumns()' class='adjust'>+ Columns</p>
    <!-- Admin panel -->
    <pre> 
        .--..--..--..--..--..--.
        .' \  (`._   (_)     _   \
      .'    |  '._)         (_)  |
      \ _.')\      .----..---.   /
      |(_.'  |    /    .-\-.  \  |
      \     0|    |   ( O| O) | o|
       |  _  |  .--.____.'._.-.  |
       \ (_) | o         -` .-`  |
        |    \   |`-._ _ _ _ _\ /       ADMIN
        \    |   |  `. |_||_|   |   ____________
        | o  |    \_      \     |   __-.___.-.__
        |.-.  \     `--..-'   O |     `.`-'`.'
      _.'  .' |     `-.-'      /-.__   ' .-'
    .' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
    `-._  `.  |________/\_____|    `-.'
       .'   ).| '=' '='\/ '=' |
       `._.`  '---------------'
               //___\   //___\
                 ||       ||
                 ||_.-.   ||_.-.
                (_.--__) (_.--__)
        
    </pre>
</div>