<!-- Modal -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Seating</h4>
    <button type="button" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="submitForm(myForm)">
      <div class="modal-boy">
        <div class="container">
          <!-- Form -->
          <div class="form-group">
            <label>Sector</label>
            <input type="string" 
              class="form-control"
              formControlName="sector" />
            <label>Rows</label>
            <input type="number" 
              class="form-control"
              formControlName="rows" />
            <label>Columns</label>
            <input type="number" 
              class="form-control"
              formControlName="columns" />
          </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success"
          (click)="submitForm(myForm)"
          [disabled]="!myForm.valid">
          OK
        </button>
      </div>
    </form>
  </div>
 
</ng-template>

<!-- Admin panel -->
<div class='wrapper'>
    <p> Start dragging from the center of the top left seat</p>
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Add seating</button>
    <button id="multi-drag" class="btn btn-lg btn-outline-primary" (click)="toggleMultiDrag()">Multi drag</button>
    <button class="btn btn-lg btn-outline-primary" (click)="clearSelection()">Clear</button>
</div>