.content {
  display: flex;
  align-items: center;
  margin: 82px auto 32px;
  padding: 0 16px;
  justify-content: space-evenly;
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}