<!-- RE-ARANGE WITH CARE ! -->
<div class='seating' appDroppable>
  <div id='dragon' appDraggable class='seat'>
    <p class='row' *ngFor='let row of circleRows'>
      <svg class='small-keeper' [attr.height]='svgHeight' [attr.width]='svgWidth' *ngFor='let column of circleColumns'>
        <circle id=seat-{{sector}}-{{row}}-{{column}} cx='12.5' cy='20' r='7.5' [attr.fill]='svgFill'/>
      </svg>
    </p>
  </div>
</div>

<!-- Seat configuration drop area -->
<div class='svg-container' appDroppable>
  <svg id='dropzone' height='100%' width='100%'>
  </svg>
</div>
